<section class="d-flex justify-content-center">
    <div class="card m-3" style="width: 35rem;">
      <div class="card-body  shadow-sm">
        <h6 class="card-subtitle mb-2 text-muted">{{user.username}} | {{formatDate createdAt}}</h6>
        <p class="card-text">{{text}}</p>
      </div>
    </div>
</section>

