<section class="row d-flex justify-content-center">
    <div class="card">
      {{#if loggedIn}}
  <div class="card-body">
    
    <h4 class="text-center">Welcome to your Omega Dashboard {{username}}</h4>
  </div>
</div>
</section>
<section class="d-flex justify-content-center">
  <button type="button" class="btn border-dark mt-2">New Blog</button>
</section>
<section class="row d-flex justify-content-center">
    {{#each blogs as |blog|}}
      {{> blog-cards}}
    {{/each}}
{{else}}
<h5 class="card-title text-danger">You must be signed in to view blog posts!</h5>
</div>
{{/if}}
</section>