    <div class="d-flex justify-content-center mt-3">
      <h2><u>Welcome to Omega Gaming!</u></h2>
    </div>
    <section class="row d-flex justify-content-center">
    {{#each blogs as |blog|}}
      {{> blog-cards}}
    {{/each}}
    </section>