* {
    font-family: 'Special Elite', cursive;
}

/* header {
    background-color: black !important;
} */

#logo {
    font-size: 2.3rem;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    text-shadow: 1px 1px 1px grey;
}

.form-control:active, .form-control:hover, .form-control:focus {
    border-color: black !important;
    outline: none !important;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
 }