* {
    font-family: 'Kanit', sans-serif;
}

body {
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
}

#logo {
    font-size: 2.3rem;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    text-shadow: 0px 3px 3px rgb(209, 209, 209);
}

a:hover {
    text-shadow:0px 2px 5px #2d2d2d;
}

.form-control:active, .form-control:hover, .form-control:focus {
    border-color: black !important;
    outline: none !important;
}

.row {
    --bs-gutter-x: 0rem !important;
}

footer {
    width: 100%;
    background-color: #2d2d2d;
}
